/*
=========================
Styling for weather card
=========================
*/
.search-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    justify-items: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 2rem;
    width: 530px;
    height: 200px;
    background-color: white;
    border-radius: .5rem;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  }

  .title-card {
    margin-bottom: 40px;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
  }
  
  .time-info-container {
    position:relative;
    top:25px;
    left:200px;
  }

  .time-info {
    font-weight: 400;
    font-size: 0.75rem;
    font-style: italic;
    color: #818181;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;

  }

/*
=========================
Styling for weather card
=========================
*/

.weather-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    justify-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 2rem;
    width: 530px;
    height: auto;
    background-color: white;
    border-radius: .5rem;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .weather-city {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    height:2rem;
  }
  
  .weather-card_icon {
    margin-top: -20px;
    height:50px;
    display: flex;
    justify-content: center;
  }

  .weather-card_icon span {
    margin:0;
    background: #020024;
    background: -webkit-linear-gradient(to bottom right, #020024 0%, #090979 50%, #00D4FF 100%);
    background: -moz-linear-gradient(to bottom right, #020024 0%, #090979 50%, #00D4FF 100%);
    background: linear-gradient(to bottom right, #020024 0%, #090979 50%, #00D4FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .md-64 { 
    font-size: 64px; 
  }

  .md-18 { 
    margin-left: 8px;
    font-size: 18px; 
  }

  .temperature-container {
    margin-top: -50px;
    text-align: center;
    margin-bottom: 15px;
  }

  .data-subset-container {
    text-align: center;
  }

  .temperature-container__temp {
    width: 100%;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
  }

  .temperature-container__condition {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
  }

  .data-section {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  
  .data-container {
    margin: 0 auto;
    margin: 1rem 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .data-info {
    text-align: center;
    font-size: 2rem;
  }

  .data-description {
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 400;
    color: #818181;  
  }
 
 