
  <div class="container-fluid">
    <section class="search-card">
      <span class="title-card">Search weather location</span>
      <form
      [formGroup]="weatherSearch" (ngSubmit)="onSubmit(weatherSearch.value)" >
          <div class="input-group">
            <input
              class="form-control"
              type="text"
              id="weatherLocation"
              placeholder="Enter a Location"
              formControlName="location" /> 
              <button mat-raised-button color="primary" type="submit">Zoeken</button>
          </div><!-- input group -->
          <div class="time-info-container">
            <span class="time-info">Laatste sync: {{dateTime}} </span>
          </div>
      </form> 
    </section><!-- search card section -->

    <!-- 
      Weather based on searched location
    -->
    <section class="weather-card">
      <span class="weather-city">{{ this.weatherData?.list[0].name }}</span>
      <div class="weather-card_icon" [ngSwitch]="true">
        <span class="icofont-cloudy md-64" *ngSwitchCase="this.weatherDescription == 'Clouds'"></span>
        <span class="icofont-hail-rainy md-64" *ngSwitchCase="this.weatherDescription == 'Rain' || this.weatherDescription == 'Drizzle'"></span>
        <span class="icofont-snow md-64" *ngSwitchCase="this.weatherDescription == 'Snow'"></span>
        <span class="icofont-clouds md-64" *ngSwitchCase="this.weatherDescription == 'Clear'"></span>
        <span class="icofont-dust md-64" *ngSwitchCase="this.weatherDescription == 'Dust'"></span>
      </div>

      <div class="temperature-container">
        <span class="temperature-container__temp"> {{ this.weatherData?.list[0].main.temp }}</span><span> °C</span>
        <span class="temperature-container__condition"> {{ this.weatherData?.list[0].weather[0].description }} </span>
      </div>

      <section>
        <div class="data-container">
          <div class="data-subset-container">                          
            <span class="data-info">{{ this.weatherData?.list[0].main.feels_like }}</span><span> °C</span>
            <span class="material-icons md-18 feels-like" style="color:#0277BD">device_thermostat</span>
          </div>
          <span class="data-description">Voelt aan als</span>
        </div>
      </section>

      <section class="data-section">
        <div class="data-container">
          <div class="data-subset-container">                  
            <span class="data-info">{{ this.weatherData?.list[0].main.temp_min }}</span><span> °C</span>
            <span class="material-icons md-18 temp-min" style="color: #5EBCF0">device_thermostat</span>            
          </div>
          <span class="data-description">Min temp</span>
        </div>

        <div class="data-container">
          <div class="data-subset-container">                  
            <span class="data-info"> {{this.weatherData?.list[0].main.temp_max}}</span><span> °C</span>
            <span class="material-icons md-18 temp-max" style="color: #EF5252">device_thermostat</span>          
          </div>
          <span class="data-description">Max temp</span>
        </div>
      </section>

      <section class="data-section">
        <div class="data-container">
          <div class="data-subset-container">                  
            <span class="data-info">{{ this.weatherData?.list[0].main.humidity }}</span><span> %</span>
            <span class="material-icons md-18 humidity" style="color: #3B78EE">opacity</span>
          </div>
          <span class="data-description">Luchtvochtigheid</span>
        </div>

        <div class="data-container">
          <div class="data-subset-container">                            
            <span class="data-info"> {{this.weatherData?.list[0].wind.speed}}</span><span> km/h</span>
            <span class="material-icons md-18 wind-speed" style="color: #46C027">air</span>            
          </div>
          <span class="data-description">Windsnelheid</span>
        </div>
      </section>
    </section>


    <!-- 
      Weather based on GEO location
    -->
    <section class="weather-card">
      <span class="weather-city">{{this.weatherGeoData?.name}}</span>
      
      <div class="weather-card_icon" [ngSwitch]="true">
        <span class="icofont-cloudy md-64" *ngSwitchCase="this.weatherGeoDescription == 'Clouds'"></span>
        <span class="icofont-hail-rainy md-64" *ngSwitchCase="this.weatherGeoDescription == 'Rain' || this.weatherGeoDescription == 'Drizzle'"></span>
        <span class="icofont-snow md-64" *ngSwitchCase="this.weatherGeoDescription == 'Snow'"></span>
        <span class="icofont-clouds md-64" *ngSwitchCase="this.weatherGeoDescription == 'Clear'"></span>
        <span class="icofont-dust md-64" *ngSwitchCase="this.weatherGeoDescription == 'Dust'"></span>
      </div>

      <div class="temperature-container">
        <span class="temperature-container__temp"> {{ this.weatherGeoData?.main.temp }}</span><span> °C</span>
        <span class="temperature-container__condition"> {{ this.weatherGeoData?.weather[0].description }} </span>
      </div>

      <div class="data-container">
          <div class="data-subset-container">                  
            <span class="data-info">{{ this.weatherGeoData?.main.feels_like }}</span><span> °C</span>
            <span class="material-icons md-18 feels-like" style="color:#0277BD">device_thermostat</span>
          </div>
          <span class="data-description">Voelt aan als</span>
      </div>

      <section class="data-section">
        <div class="data-container">
          <div class="data-subset-container">          
            <span class="data-info">{{ this.weatherGeoData?.main.temp_min }}</span><span> °C</span>
            <span class="material-icons md-18 temp-min" style="color: #5EBCF0">device_thermostat</span>
          </div>
          <span class="data-description">Min temp</span>
        </div>

        <div class="data-container">
          <div class="data-subset-container">          
            <span class="data-info"> {{ this.weatherGeoData?.main.temp_max }}</span><span> °C</span>
            <span class="material-icons md-18 temp-max" style="color: #EF5252">device_thermostat</span>
          </div>
          <span class="data-description">Max temp</span>
        </div>
      </section>

      <section class="data-section">
        <div class="data-container">
          <div class="data-subset-container">
            <span class="data-info">{{ this.weatherGeoData?.main.humidity }}</span><span> %</span>
            <span class="material-icons md-18 humidity" style="color: #3B78EE">opacity</span>
          </div>
            <span class="data-description">Luchtvochtigheid</span>
        </div>

        <div class="data-container">
          <div class="data-subset-container">
            <span class="data-info"> {{ this.weatherGeoData?.wind.speed }}</span><span> km/h</span>  
            <span class="material-icons md-18 wind-speed" style="color: #46C027">air</span>
          </div>
          <span class="data-description">Windsnelheid</span>
        </div>
      </section>
    </section>
  </div> <!-- div container -->